<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Similar Tastes Nashville</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/">Home</a></li>
        <li class="active"><a href="#!/about">About</a></li>
        <li><a href="#!/recommendations">Find Recommendations</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Restaurant ratings for YOU!</h1>
        <p>Tired of getting recommendations from someone, only to find out later they have completely different tastes than you?  We were too.  We've created a way to help our users sort through the reviews to get down to the ones that are applicable to them.</p>
        <p><a class="btn btn-primary btn-lg" href="#!/recommendations" role="button">Start Now</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Almost 500 Restaurants</h2>
          <p>Our database has almost 500 Nashville restaurants.  Taken from Yelp's list of top restaurants in Nashville in May 2017, we have the places people are talking about.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>More Than 40,000 Users</h2>
          <p>Our SimilarTaste system looks at over 40,000 users to find people who share your restaurant opinions and give you only ratings and recommendations from users like you.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-md-4">
          <h2>Almost 90,000 Reviews</h2>
          <p>Our 40,000 users have collectively given almost 90,000 reviews! We sort through that information for you to give you recommended restaurants to try, and predict whether or not you'll like a particular restaurant.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div>
      </div>
    </div>



<footer class="footer">
  <div class="container">
    <p class="text-muted text-left">Helping you find the best dining experience for you.</p>
    <p class="pull-right"><a target="_blank" href="https://github.com/SorrelBrigman">© 2017 Copyright Sorrel Brigman</a></p>
  </div>
</footer>
