<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Similar Tastes Nashville</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/">Home</a></li>
        <li ><a href="#!/about">About</a></li>
        <li class="active"><a href="#!/recommendations">Find Recommendations</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="starter-template tastes" ng-if="questionNumber <= 4">
    <h1>Declare Your Tastes</h1>
    <p class="lead">Tell us about a restaurant you feel passionately about.<br> We'll find users with similar tastes to hook you up with meaningful reviews and recommendations</p>
  </div>
  <div>
    <form >

      <!-- <fieldset>
        <div class="form-group">
            <label for="query">Enter a restaurant you feel passionately about:</label>
            <input type="text" class="form-control" name="query" id="query" placeholder="Start typing something to search...">
        </div>
         <button type="submit" class="btn btn-primary">Search Restaurants</button>
      </fieldset> -->

      <fieldset class="first-restaurant" ng-if="questionNumber === 1">
        <div class="form-group">
          <h2 class="bg-warning" ng-if="restaurantmessage"> {{restaurantmessage}}</h2>
          <label for="restaurants"><h3>Select a restaurant you feel passionately about:</h3></label>
          <select chosen
            data-placeholder-text-single="'Choose a restaurant'"
            no-results-text="'Sorry, that restaurant is not in our system yet.'"
            class="form-control"
            name="restaurant_id"
            id="restaurant_id"
            ng-model="user.restaurant_id"
            ng-options="restaurant.id as restaurant.name for restaurant in restaurants" value={{restaurant.id}}>
          <!--   <option disabled selected>Select a Restaurant</option>
            <option ng-options="restaurant.id as restaurant.name for restaurant in restaurants" value={{resaurant.id}}>{{restaurant.name}}</option> -->
          </select>
          <button type="button" class="btn btn-primary" ng-click="gaveRestaurant()">Set Restaurant</button>
      </fieldset>

      <fieldset class="love-or-hate" ng-if="questionNumber === 2">
        <div class="radio">
          <h3>Do you passionately love it, or passionately hate it?</h3>
          <label>
            <input type="radio" name="rating" id="loveIt" ng-model="user.rating" value=">=4" ng-click="loveOrHate()">
            I love it
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rating" id="hateIt" ng-model="user.rating" value="<=2" ng-click="loveOrHate()">
            I hate it
          </label>
        </div>
      </fieldset>

      <fieldset class="choose-type" ng-if="questionNumber === 3">
        <button type="submit" class="btn btn-primary" ng-click="getRecommendations()">Recommend Restaurants I'd like</button>

      <button type="button" class="btn btn-success" ng-click="choosePredict()">Predict My Review of Another Restaurant</button>
      </fieldset>
      <fieldset class="second-Rest" ng-if="questionNumber === 4">
        <div class="form-group">
            <label for="restaurant_to_compare"><h3>Enter the restaurant you'd like a review prediction for</h3></label>
            <select chosen
            data-placeholder-text-single="'Choose a restaurant'"
            no-results-text="'Sorry, that restaurant is not in our system yet.'"
            class="form-control"
            ng-model="user.restaurant_to_compare" name="restaurant_to_compare" id="restaurant_to_compare" ng-options="restaurant.id as restaurant.name for restaurant in restaurants" value={{resaurant.id}}>
              <!-- <option disabled selected>Select a Restaurant</option>
              <option ng-repeat="restaurant in restaurants" value={{resaurant.id}}>{{restaurant.name}}</option> -->
          </select>
        </div>
        <button type="submit" class="btn btn-success" ng-click="predictReview()">Predict My Review of Another Restaurant</button>


    </form>

  </div>


  <div class="jumbotron" ng-if=reviewed>
      <div class="container">
        <h1>{{reviewed.name}}</h1>
        <p>Based on {{reviewed.number}} users with similar tastes, the average review for {{reviewed.name}} is {{reviewed.averageRating}} out of 5 stars.</p>
        <p><a class="btn btn-primary" href=#!/restaurants/{{reviewed.id}} role="button">{{reviewed.name}} Details</a></p>
      </div>

    </div>

</div>

  <div class="jumbotron" ng-if=errorMessage>
      <div class="container">
        <h1>Bummer!</h1>
        <p>{{errorMessage}}</p>
        <p><a class="btn btn-primary" href="#!/recommendations" role="button">Try Again</a></p>
      </div>

    </div>

</div>


  <div class="jumbotron" ng-if=filteredReviews>
      <div class="container">
        <h3>Here are some restaurants folks with similar tastes have enjoyed:</h3>
        <div ng-repeat="review in filteredReviews | limitTo:5">
          <p>{{review.name}} <a class="btn btn-primary" href=#!/restaurants/{{review.restaurant_id}} role="button">More Info</a></p>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="back()">Back</button>
      </div>
    </div>

</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Helping you find the best dining experience for you.</p>
    <p class="pull-right">© 2017 Copyright Sorrel Brigman</p>
  </div>
</footer>
