<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Similar Tastes Nashville</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#!/">Home</a></li>
        <li><a href="#!/about">About</a></li>
        <li><a href="#!/recommendations">Find Recommendations</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="starter-template">
    <h1>Get Reviews and Recommendations from people like You</h1>
    <p class="lead">We pair you put with users who change your tastes in order to find reviews and recommendations that are relevent to you.</p>
    <a href="#!/recommendations"><button class="btn btn-primary">Find a Restaurant Now</button></a>
  </div>
<!--   <div class="homeImage center-block">
    <img class="img-responsive" src="styles/img/BurgerPicture.jpg">
  </div> -->
</div>



<footer class="footer">
  <div class="container">
    <p class="text-muted text-left">Helping you find the best dining experience for you.</p>
    <p class="pull-right"><a target="_blank" href="https://github.com/SorrelBrigman">© 2017 Copyright Sorrel Brigman</a></p>
  </div>
</footer>
